# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Sounds
sounds/

# Temp
tmp/
__tests__/tmp/

# Transpiled files
build/

# VS Code
.vscode/*
!.vscode/tasks.js
!.vscode/tasks.json
!.vscode/launch.json

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Configuration
#config.common.json
config.dev.json
config.test.json
config.prod.json

# Misc
.DS_Store

out/

data/